MicrosoftAppId=
MicrosoftAppPassword=
OPENAI_API_KEY=sk-
GOOGLE_API_KEY=
GOOGLE_CSE_ID=
SERPAPI_API_KEY=
Todo_PollingIntervalSeconds=900.0
Todo_BotsTaskFolder="AutoCHAD"
LOCAL_MEMORY_FILE_NAME=workspace/memory.txt
EMAIL_CACHE_FILE_NAME=workspace/emails.txt
OFFICE_USER=account@domain.com
EMAIL_SIGNATURE="Regards, me"
ELEVENLABS_API_KEY=